* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: hotpink;
}



#Topnav  {
  background-color:lightblue; 
  color: white; 

  }

.nav {
    display: inline-block;
    font-size: 100pxrem;
    vertical-align: top;
    margin-left: 1rem;
    margin-right: 1rem; 


}

.div1{
  display: block;
  width: 60%;
  height: 200px;
  border: 3px solid white;
  font-size: 20px;
  text-align: center;
  font-family: Sans-serif;
  padding-top: 30%rem;
  color: white;
  margin: auto;


}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  padding-bottom: 10%rem;
  top: 50%;
  left: 50%;
}



.quotes {
  text-align:center;
  font-size: 20px;

}